@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
* {
    font-family: 'Antonio', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    width: 100%;
    background-color: #E4EBF5;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
    flex-direction: row;
    align-content: center;
}

.nav {
    position: fixed;
    top: 0;
    background-color: #2E3B65;
    height: 4rem;
    padding-top: 1rem;
    color: #FFF;
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
}

.nav__list {
    display: flex;
}

.nav__logo {
    font-size: 1.8rem;
}

.nav__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4rem;
}

.nav__list a {
    color: #FFF;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav__list a:hover {
    color: #E4EBF5;
    text-decoration: underline;
}

.home__text1 {
    font-size: 3rem;
    font-weight: 600;
    color: #2E3B65;
    padding-left: 10px;
    flex-direction: column;
}

.home__text2 {
    font-size: 1.8rem;
    font-weight: 200;
    color: #2E3B65;
    padding-left: 10px;
    padding-right: 160px;

}

.home__img img {
    width: 450px;
}

.contact {
    font-size: 1.6rem;
    font-weight: 200;
    background-color: #2E3B65;
    text-align: center;
    color: #E4EBF5;
    padding-bottom: 15rem;
    padding-top: 15rem;
}

.submit {
    font-size: 3rem;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  /* background-color: DodgerBlue; */
  list-style:none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.flex-container section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  margin: 10px;
  flex: 1 0 250px;
  border: 1px solid #cccccc;
}

.flex-container section img {
  width: 100%;
}

.flex-container section header {
  padding: 20px;
  text-align: left;
  flex-grow: 1;
}

.flex-container section header h2 {
  font-size: 1.8rem;
}

.flex-container section header p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.flex-container section a {
    background: #0080ff;
    align-self: stretch;
    text-align: center;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem; 
    border-bottom: 4px solid #0066cc;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: -10000;
}
 
.footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.footer ul li {
  list-style: none;
  align-self: flex-end;
}

.footer ul li a {
  text-decoration: none;
}

.footer p {
  font-size: 0.7em;
}

.footer svg {
  width: 30%;
}

